*{
    color:lightskyblue;
    font-family:"Chakra Petch",sans-serif;
    padding:0px;
    margin:0px;
}
body{
    font-family: "Farsan", cursive;
    font-weight:800;
    font-style:normal;
    font-size:16px;
    background-color:mediumpurple;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    font-weight:400;
}
nav{
    width:100%;
    height:fit-content;
    background-color:#ff00ff;
}
nav ul{
    list-style: none;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav ul li a{
    text-decoration: none;
    font-size:3vw;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.farsan-regular {
  font-family: "Farsan", cursive;
  font-style: normal;
}
#iceCreamIMG{
    width:200px;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) all 0.4s;
}
#iceCreamIMG:hover{
    scale:1.2;
}
.horizontal-flex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.iceCreamCTA{
    width:80%;
}