*{
    color:lightskyblue;
    background-color:mediumpurple;
    font-family:"Chakra Petch",sans-serif;
}
body{
    font-family: "Oi", serif;
    font-weight:800;
    font-style:normal;
    font-size:16px;
}
p{
    font-weight:400;
}